html,body {
    padding:0;
    margin: 0;
}
body {
    background-color: #0f083a;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    background: #e3f6f5;
    width:30rem;
    padding:4rem;
    text-align: center;
}
h1 {
    color:#57636e;
    font-size:3rem;
    text-align: center;
    padding:2px 0;
}
#question{
    font-size:1.7rem;
    color:#556772;

}
.button {
    background-color: #def3f3;
    color:rgb(0, 0, 0);
    width:250px;
    font-size:20px;
    border-radius:.3rem;
    padding:10px 20px;
    margin: 10px 40px 10px ;
    outline:0;
}

.button:hover{
    cursor:pointer;
    background-color: #0f083a;
    color:white;
}

#progress {
    font-size: 20px;
}

input {
    height: 30px;
    border: 1px gray solid;
    background-color: #def3f3;
    color:rgb(0, 0, 0);
    width:100%;
    font-size:15px;
    border-radius:.3rem;
    margin-bottom: .3rem;
    padding:5px 5px;
    outline:0;
}
h6{
    margin:0;   
    text-align:justify;
    font-size: 17px;
    margin: 1rem 0 .5rem 0;
    color:#57636e
}
/* p {
    font-size:20px;
    text-align: start;
    margin-left: 4rem;
} */